* {
    margin: 0;
}
body {
    background-color: #fff6f6;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
    height: 70px;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: #717171;
    font-family: Arial, "Helvetica", sans-serif;
}
.table a {
    display: block;
    text-decoration: none;
}
.table {
    color: #717171;
}

ul {
    list-style: none;
}
#hero {
    background-image: url(img/header-bg.jpg);
    height: 350px;
    background-size: cover;
}
#heading {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #shopping-cart {
    display: none;
}
.submenu:hover #shopping-cart {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.hero-content {
    margin-top: 80px;
    color: white;
}
.hero-content form {
    position: relative;
    margin-bottom: 0;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
#bg {
    background-color: #0d0c11;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #37a69b;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.button:hover {
    color: #fff;
    border-color: #888;
    outline: 0;
}

.cart-button:hover {
    color: black;
}

input[type="text"] {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

#courses-list .row {
    margin-bottom: 20px;
}

#courses-list {
    display: none;
    margin-left: 500px;
}

@media only screen and (max-width: 600px) {
    #courses-list {
        display: none;
        margin-left: 0px;
    }
}
.add-to-cart {
    margin: 10px 0;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

.main-bar {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #741d51 0%,
        #e44e52 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #741d51 0%,
        #e44e52 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #741d51 0%,
        #e44e52 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

#cart-content {
    width: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.four a {
    text-decoration: none;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

#first-table {
    display: none;
    margin-left: 250px;
}

#second-table {
    display: none;
    margin-left: 250px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.close-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-form:hover,
.close-form:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container h1 {
    font-size: 20px;
    font-weight: bold;
    color: #717171;
    font-family: Arial, "Helvetica", sans-serif;
}
.form-container label {
    font-size: 15px;
    font-weight: bold;
    color: #717171;
    font-family: Arial, "Helvetica", sans-serif;
}

@media only screen and (max-width: 600px) {
    #first-table {
        margin-left: 0px;
    }

    #second-table {
        margin-left: 0px;
    }
    .header {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 600px) {
}
